<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
-  List popular languages for Data Science
-  List popular development environments. 
-  Evaluate arithmetic expressions.

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
1. SQL

Some of the commonly used libraries used by Data Scientists include

1. NumPy
2. SciPy
3. Pandas
4. TendorFlow

|Data Science Tools|
|----|
|Jupyter|
|R Studio|
|Spyder|

<h3> Below are a few examples of evaluating arithmetic expressions in Python. </h3>

In [7]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by dividing by 60.
total_minutes = 200

hours = total_minutes // 60

print(hours)

3

<h2> Author </h2>
Jaleesa Russell